body {
  background-color: #f6eee3;
}

.SVG {
  display: flex;
  align-items: center;
  height:100vh;
  min-width: 130px;
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 20%;
  height: auto;
}