@font-face {
  font-family: "ET Book";
  src: url("et-book-display-italic-old-style-figures.woff") format("woff");
}

body {
  background-color: #f6eee3;
}

.SVG {
  display: flex;
  align-items: center;
  height:50vh;
  min-width: 130px;
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  padding-top: 80px;
  font-family: "ET Book", serif;
  font-size: 64px;
  text-align: center;
}

p {
  font-family: "ET Book";
  font-size: 36px;
  text-align: center;
}

img {
  max-width: 20%;
  height: auto;
}


a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(113, 58, 30);
}